@font-face {
    font-family: finn;
    src: url(GoodBoy-ZVJrl.ttf);
}

@font-face {
    font-family: paw-patrol;
    src: url(AachenBTBoldfont.ttf);
 

}

*{
    font-size: 50px;
}




h1 {
    font-family: paw-patrol;
   
    text-align: left;
}


h2,
h3 {
    font-family: finn;
 
}

p {
    font-family: finn;
  

}

body {
    background-color: WHITE;
    text-align: center;
    margin: auto;
    padding: 0;

}


#header-container {
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    background-color: RGB(141, 103, 55);
    height: 50px;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
}

/**Navigation**/

nav span {
    padding-right: 35px;
    margin: 0;
    font-family: finn;
}

a {
    color: white;
    font-size: 30px;
    text-decoration: underline;
}

/** Home page logo pic**/

#home {
   height: 920px;
   display: inline-block;
   font-size: 0px; /*Removed whitespace from two divs*/
   
    /*Split colors in container*/
    background: linear-gradient(to top,
            white 0%,
            white 50%,
            #E05214 50%,
            #E05214 100% to right,
            white 0%,
            white 50%,
            #E05214 50%,
            #E05214 100%);

            /*
   background-image: url(./images/finn_banner.png);  
   background-repeat: no-repeat;   
   background-size: 109%;
   */
}

#home .finn-banner {
    height: auto;  
    width: 100%;
}


.home-paws-right {
    height: 100px;
    /*blue Beagle color*/
    background-color: #1080b1;
    text-align: right;
    width: 100%;
}

#home-paws-right{
    height: 300px;
}


#home-paws-right img{
    height: 100%;
    width: 35%;
}




/** Transition right**/
.paws-right {
   
    height: 100px;
    /*blue Beagle color*/
    background-color: #1080b1;
    text-align: right;
    width: 100%;
    display: inline-block;
}
.paws-right img{
    height: 300px;
}



/** Transition left**/
.paws-left {
  
    height: 100px;
    background-color: #1080b1;
    text-align: left;
    width: 100%;
    display: inline-block;
}

.paws-left img {
    height: 300px;

}

/**About**/

/*title of about*/
#about {
    font-family: finn;
    font-size: 100px;
    text-align: left;
    margin: 0;
    padding-left: 40px;
}

/*About container*/
.about {
    height: 600px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(245, 245, 245);
}

.about img {
    height: auto;
    width: 30%;
    margin-right: 40px;
}

.about h2 {
    display: block;
}

.about p {
    text-align: left;
    display: flex;
    align-items: center;
}


/* Second About container*/
/*Tall grass*/
.about-2 {
    height: 600px;
    display: flex;
    /* flex-flow: row-reverse;reverses the image and paragraph*/
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    /*Split colors in container*/
    background: linear-gradient(to right,
            white 0%,
            white 50%,
            #1080b1 50%,
            #1080b1 100%);
}

.about-2 img {
    height: 600px;
    max-width: 100%;
    margin-right: 50px;
    margin: 0;

}

.about-2 p {
    text-align: left;
    display: flex;
    align-items: center;

}

/*Education*/
.about-3 {
    display: flex;
    height: 600px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;

    background: linear-gradient(to right,
            RGB(141, 103, 55) 0%,
            RGB(141, 103, 55) 50%,
            rgb(245, 245, 245) 50%,
            rgb(245, 245, 245) 100%);

}

.about-3 img {
    height: 600px;
    margin-right: 40px;
    margin: 0;
}

.about-3 h2 {
    display: block;
}

.about-3 p {
    color: white;
    align-items: center;
    width: 200px;
    margin: auto;
}

/*Picture container*/
.about-3 .p {
    margin: auto;
}


/*Sister*/

#about-4 {
    height: 600px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;

}

#about-4 img {
    height: 400px;
    margin-right: 40px;
}



/*friends Side scroller library*/
.about-5 {
    padding: 1rem;
    height: 500px;
    max-width: 900px;
    margin: auto;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position: relative;
  
}



   




.about-5 .images-container {
    display: flex;
    overflow-x: auto;
    gap: 40px;
    overflow-y: hidden;
    white-space: nowrap;
   scroll-snap-type: x mandatory; 

}


.about-5 img {
    height: 500px;
    scroll-snap-align: start;
    
}

.about-5 h2 {
    display: block;
}

.about-5 p {
    text-align: left;
    display: flex;
    align-items: center;
   
}

.images-container .scroll {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 13px;
    color: white;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 7;


}

.images-container .scroll.prevImg {
    left: 0;

}

.images-container .scroll.nextImg {
    right: 0;

}

.scroll.prevImg i, 
.scroll.nextImg i {
    font-size: 80px;
    opacity: 0.7;

}



/*Pictureloop*/
.pic-loop {
    height: 500px;
    margin: auto;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-loop img {
    height: 500px;
    margin: 0;
  

}


/*Gallery*/



#gallery {
    font-family: finn;
    font-size: 100px;
    text-align: right;
    margin: 0;
    padding-right: 40px;
  

}

.gallery-container {
    line-height: 0;
    padding: 1rem;
    margin: auto;
    column-count: 3;
    column-gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    max-width: 1200px;
    margin-bottom: 100px;

    /*Shrank gallery frame*/
}

/*Stop mouse click on pictures and blur background*/
.freeze {
    pointer-events: none;
    filter: blur(5px);
}

/*prevents background scroll to focus on preview*/
.stop-scroll {
    overflow: hidden;
}

/*images */
.gallery img {


  
    width: 100% !important;
    height: auto !important; 
    display: block;
    /*transform: all 0.3s ease; */
}

/*Zoomed in picture in gallery*/
.main_view {
    width: 80%;
    height: 25rem;
}

.main-view img {
    height: 900px;
    object-fit: cover;
    z-index: 10;
}

/* hover over interaction in gallery*/
.gallery img:hover {
    transform: scale(1.1);
}

/*closed window panel*/
.preview-box {
    position: fixed;
    margin-top: 10px;
    padding-top: 10px;
    height: 970px;
    max-width: 1300px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: #1080b1;
    padding: 0 5px 5px 5px;
    border-radius: 3px;

    /*Hide preview with no click events*/
    opacity: 0;
    pointer-events: none;
}

/* open window panel*/
.preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;

}


.preview-box .details {
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
}

.preview-box .img-box img {
    height: 900px;
    border-radius: 0 0 3px 3px;
    /*width: 100%;*/

}


.preview-box .img-box {
    display: fixed;
}


.details .title {
    display: flex;
    font-size: 18px;
    font-weight: 400px;

}

.details .title p {
    margin: 0 5px;
}

.details p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.details .title p.current-img {
    font-weight: 600;
}


.img-box .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: white;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 7;


}

.img-box .slide.prev {
    left: 0;
}

.img-box .slide.next {
    right: 0;
}

.slide.prev i, 
.slide.next i {
    font-size: 80px;
    opacity: 0.2;

}

.slide.prev i:hover, 
.slide.next i:hover {
   
    opacity: 10;

}


.details .close {
    color: white;
    font-size: 40px;
    cursor: pointer;
    opacity: 0.2;
}

.details .close:hover {
    color: red;
    font-size: 40px;
    cursor: pointer;
    opacity: 10;
}

/*peemail and Comment*/

/*peemail*/
.HolidayFInn{
    margin: 0;
    color: white;
    font-size: 60px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: red;
   
 }
 
#peemail {
    font-family: finn;
    font-size: 100px;
    text-align: left;
    margin: 0;
    padding-left: 40px;
    margin-bottom: 100px;

}

.latest-container .peemail-images img{
    
    height: 700px;
  
}

.peemail-images .snoopy{
  
    width: 900px;
}


.latest-container{
    height: 600px;
    margin-top: 0;
   padding: 0;
    border: 4px solid red;

   display: flex;
   margin-bottom: 100px;
}





/*commnets*/
.comment{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.comment-container .comment-title{
    font-size: 80px;

}

.comment-message textarea {
    font-size: 20px;
}

.comment-name input {
    font-size: 20px;
}

.comment-container {
  
   width: 1000px;/* lets comments expand*/
   padding: 100px;
   margin: 0;
 
}
.comment-message textarea{
    height: 60px;
    width: 995px;
 }

.name-button {
   display: flex;
   justify-content: space-between;
}




.comment-button button{
    font-size: 18px;
    border: none;
    padding: 13px 25px;
    background:  #BD77C4;
    padding: 13px 25px;
}

#create-comment { /*helps expand text in comment message area*/
    height: 100%;
 }



/*Contact Us*/


/*Title*/
#contact {
    font-family: finn;
    font-size: 100px;
    text-align: right;
    margin: 0;
    padding-right: 40px;

}
.contact {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    background-color: #BD77C4;
  

}

.contact-container {
    width: 720px;
    background: #fff;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: auto;
}

.contact-container header {
    font-size: 22px;
    font-weight: 700;
    padding: 20px 30px;
    border-bottom: 1px solid #bfbfbf;
}

.contact-container form {
    margin: 35px 30px;
}

form .dbl-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.dbl-field .field {
    height: 50px;
    width: calc(100% / 2 - 13px);
    position: relative;
}




form .field input,/* Input boxes for contact us*/
form .message textarea{
    height: 100%;
    width: 80%;
    outline: none;
    padding: 0 18px 0 48px;
    border-radius: 5px;
    border-bottom: 1px solid #bfbfbf;
    font-size: 16px;

}


form .field input:focus,/*border hover for contact us input boxes */
form .message textarea:focus{
    border: 2px solid #0D6EFD;
}

form .message textarea{
    height: 200px;
    width: 600px;
  

}

.message {
    position: relative;
}

.contact-container .field i,
.message i{
    position: absolute;
    left: 25px;
    top: 28%;
    transform: translate(-50%);
    font-size: 25px;
    pointer-events: none;
   
}

.message i {
    top: 1%;
}

.button-contact{
    font-size: 18px;
    border: none;
    padding: 13px 25px;
    background: #1080b1;
    padding: 13px 25px;
}

/*footer*/

.footer {/*border hover for contact us input boxes */
    background-color: RGB(141, 103, 55);
    padding: 10px;
  
}

.footer h3{
    padding: 0;
    margin: 0;
}



@media only screen and (max-width: 600px){
    *{
        font-size: 20px;
    }
    #home {
        height: 900px;
        display: flex;
        flex-direction: column;
    
     
        /*Split colors in container*/
       
    
    }


    #header-container {


        height: 80px;
        margin: 0;
    }
    
    #home .finn-banner {
       
    content: url(./images/mobile\ banner.png);
    padding-top: 6px;
    height: 600px;
    width: 100%;
    }

    .home-paws-right {
        height: 50px;
        /*blue Beagle color*/
        background-color: #1080b1;
        text-align: right;
        width: 100%;
    }
    
    #home-paws-right{
        height: 100px;
    }
    
    
    #home-paws-right img{
        height: 100%;
        width: 35%;
    }

    /*About container*/
.about {
    height: 300px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(245, 245, 245);
}

.about img {
    height: auto;
    width: 30%;
    margin-right: 40px;
}
    

    /** Transition right**/
    .paws-right {
    
      
        display: inline;
    }

    .paws-right img {
        height: 100%;
    }

    /*title of about*/





    

}